# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/
dub_init_error_log.txt

# Code coverage
*.lst

# IntelliJ project files
.idea
*.iml
out
gen
